[user]
  name = Hibariya
  email = hibariya@gmail.com
	signingkey = 2A599B0EE665237E
[alias]
  pr = pull --rebase --prune
  ds = diff --staged
  co = checkout
  st = status
  ci = commit --verbose
  br = branch
[core]
  editor = vim
  excludesfile = ~/.gitignore
[color]
  ui = true
[push]
	default = simple
[credential]
	helper = store
[pager]
  log = diff-highlight | less -X
  show = diff-highlight | less -X
  diff = diff-highlight | less -X
[ghq]
  root=~/src
[url "git@github.com:"]
  insteadOf = https://github.com/
[diff]
	compactionHeuristic = true
