[user]
  name = Hika Hibariya
  email = hibariya@gmail.com
[alias]
  pr = pull --rebase --prune
  ds = diff --staged
  co = checkout
  st = status
  ci = commit --verbose
  br = branch
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  wip = "!sh -c 'git add -A; git ls-files --deleted -z | xargs -0 git rm; git commit -m \"wip\"'"
  unwip = "!sh -c 'git log -n 1 | grep -q -c wip && git reset HEAD~1'"
[core]
  editor = vim
  excludesfile = ~/.gitignore
[color]
  ui = true
[push]
	default = simple
[credential]
	helper = store
[pager]
  log = diff-highlight | less -X
  show = diff-highlight | less -X
  diff = diff-highlight | less -X
[ghq]
  root=~/src
